html {
  height: 120vh;
}

.top-content {
  height: 126.39px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #e5e5e5;
}
.topLeftContent {
  display: flex;
  align-items: center;
}
.backGroundBlue {
  width: 16px;
  height: 16px;
  background-color: #0050ff;
  margin-left: 30px;
}

.bigName {
  font-weight: 900;
  font-size: 25px;
  margin-left: 20px;
}

.firstposition {
  margin-left: 25px;
  font-size: 20px;
}

.photoPortfolio {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

ul li:before {
  content: none;
}

.firstPortfolio > .colorA {
  color: #2163ff;
  text-decoration: none;
}
.photoPortfolio li {
  padding-left: 10px;
  padding-right: 10px;
}

.portfolioLink {
  display: block;
  text-decoration: none;
  color: black;
}

.middle-cotent {
  width: 826px;
  height: 1031px;
  background-color: #e6dace;
}
.introduction {
  display: flex;
  width: 375px;
  height: 525.781px;
  position: absolute;
  background-color: #f4ece6;
  left: 601px;
  bottom: 12px;
  justify-content: center;
}
.photo {
  width: 240px;
  height: 240px;
  background: url(img/pepe.png) no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-position: -42px 2px;
  margin-top: 10px;
  margin-left: 25px;
}
.middle-cotent > h1 {
  font-family: "Golos Text", sans-serif;
}
.boldName {
  text-align: center;
}
.blueLine {
  width: 50px;
  height: 5px;
  background-color: #0050ff;
  margin-bottom: 25px;
  margin: 0 0 20px 120px;
}

.secondPosition {
  width: 277px;
  height: 20px;
  position: relative;
  margin: 0px 0px 51px 0;
}

.positionGap {
  font-family: "Bitter", serif;
  text-align: center;
  font-size: 17px;
  letter-spacing: 0.25em;
}
.snsimg {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  width: 375px;
  height: 53px;
  background-color: white;
  right: -49px;
  top: 110px;
}
.snsimg > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.detaliIntro {
  position: relative;
  width: 826px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  float: right;
  margin-right: 230px;
  bottom: 700px;
}

.fristIntro {
  font-family: "Nanum Gothic Coding", monospace;
  width: 485px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}

.secondIntro {
  font-family: "Nanum Gothic Coding", monospace;
  width: 485px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.lastIntro {
  font-family: "Gowun Dodum", sans-serif;
  width: 369px;
}
